<p>Product Carousel</p>


{% schema %}
{
    "name": "product-carousel",
    "settings": [
        {
            "type": "collection",
            "id": "collection",
            "label": "product carousel"
        }
        ]
}
{% endschema %}
